.section__form {
  background-color: #1d1d1d;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}

.form__container {
  margin: 64px 0px;
  background-color: #292929;
  width: 50%;
  border-radius: 20px;
}

.form__title {
  padding: 32px 0px;
  margin-bottom: 18px;
  text-align: center;
  font-size: 44px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #75cc20;
  text-shadow: 0px 5px 10px #487c13b3;
  padding-bottom: 24px;
  border-bottom: 8px solid #75cc20;
  width: 500px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.form input,
select {
  width: 450px;
  height: 50px;
  border-radius: 5px;
  background-color: #1d1d1d;
  padding-left: 10px;
  margin: 10px 0px 10px 0px;
  border: 2px solid #487c13;
  transition: 0.5s;
}

input::placeholder {
  color: #75cc20;
}

.form input:focus {
  border: 2px solid #75cc20;
  outline: none;
  color: #75cc20;
}

/* Formulario.css */
select {
  width: 450px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1d1d1d;
  border: 2px solid #487c13;
  color: #75cc20;
  outline: none;
}

select:focus {
  border-color: 2px solid #75cc20;
}

.submit {
  margin: 16px 0px 20px 0px;
  height: 60px;
  width: 130px;
  color: #000000;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #75cc20;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 1px 5px #487c13b3;
  cursor: pointer;
}

.submit:hover {
  background-color: #94ff29;
  box-shadow: 0px 10px 15px #487c13b3;
}

.error{
  color: #75cc20;
  font-size: 14px;
  padding: 8px 0px;
}