.content{
    background-color: #1d1d1d;
}

.content__title{
    display: flex;
    justify-content: center;
    padding: 64px 0px;
}

.content__slogan{
    text-align: center;
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #75CC20;
    text-shadow: 0px 5px 10px #487c13b3;
    padding-bottom: 30px;
    border-bottom: 8px solid #75CC20;
    width: 600px;
}

.content__category{
    margin: 20px;
}

.category{
    padding: 20px;
}

.category__name{
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #da20da;
    font-size: 32px;
    padding: 10px 15px;
    border-bottom: 4px solid #da20da;
    border-left: 6px solid #da20da;
}

/* .category-slider{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 0px 15px;
} */

.title__video{
    color: #ffff;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    padding: 15px 0px 15px 10px;
}

.title__video:hover{
    text-decoration: underline;
}

.video-card{
    position: relative;
    border-radius: 8px;
    background-color: #292929;
    cursor: pointer;
    transition: 0.2s ease-in;
    width: 325px;
}

.video-card:hover{
    scale: 1.01;
}


.delete{
    height: 30px;
    width: auto;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.delete:hover{
    filter: brightness(1.5);
}