.content {
  background-color: #1d1d1d;
  padding-bottom: 10px;
}

.content__title {
  display: flex;
  justify-content: center;
  padding: 64px 0px;
}

.content__slogan {
  text-align: center;
  font-size: 44px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #75cc20;
  text-shadow: 0px 5px 10px #487c13b3;
  padding-bottom: 30px;
  border-bottom: 8px solid #75cc20;
  width: 600px;
}

.content__category {
  margin: 20px;
}

.category {
  padding: 20px;
}

.category__name {
  width: 300px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #da20da;
  font-size: 32px;
  padding: 10px 15px;
  border-bottom: 4px solid #da20da;
  border-left: 6px solid #da20da;
}

.category-slider{
    padding: 0px 50px;
}

.video-info {
  display: flex;
  flex-direction: column;
}

.title__video {
  color: #ffff;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  padding: 15px 0px 15px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.title__video:hover {
  text-decoration: underline;
}

.video__card {
  position: relative;
  border-radius: 10px;
  background-color: #292929;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.miniatura {
  width: 100%;
}

.video__card:hover {
  scale: 1.01;
}

.delete {
  height: 30px;
  width: auto;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.delete:hover {
  filter: brightness(1.5);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.pagination button.active {
  background-color: #0056b3;
}
