.contentVP {
  background-color: #1d1d1d;
  padding: 64px 32px;
}

.video__comments{
    display: flex;
    justify-content: space-between;
}

.video__container{
    background-color: #75cc20;
    height: 500px;
    width: 70%;
    border-radius: 12px;
    overflow: hidden;
}

.comments__container{
    background-color: #292929;
    width: 20%;
    height: 500px;
    border-radius: 12px;
    overflow: hidden;
    border: 3px solid #292929;
}

.information__video{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    width: 70%;
    margin-top: 30px;
    border-radius: 12px;
}

.titleVP{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.like{
    background-color: #292929;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
}

.like:hover{
    filter: brightness(1.5);
}

.like__icon{
    height: 30px;
    width: auto;
}

.titleVP{
    color: aliceblue;
}

.comments{
    height: 86%;
}

.input__comments{
    background-color: #1d1d1d;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0px 12px 0px;
}

.input__comment{
    background-color: #292929;
    border: none;
    border-radius: 8px;
    padding-left: 12px;
    height: 40px;
    color: #75cc20;
}

.input__comment:focus{
    border: 2px solid #75cc20;
    outline: none;
    color: #75cc20;
}

.submit__comment{
    border: none;
    background-color: #75cc20;
    color: #1d1d1d;
    height: 30px;
    border-radius: 8px;
    width: 60px;
    cursor: pointer;
}

.submit__comment:hover{
    background-color: #487c13;
}

.comment{
    background-color: #1d1d1d;
    color: #75cc20;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 12px;
    border-top: 2px solid #292929;
}