.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 100px;
    background-color: #292929;
}

.nombre{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #75CC20;
    text-shadow: 0px 5px 10px #487c13b3;
    margin-bottom: 20px;
}

.redes{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.iconsRedes{
    height: 40px;
}